<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/phaser.js"></script>
    <script src="/js/Drapeau.js"></script>
    <script src="/js/Demarrage.js"></script>
    <script src="/js/Jeu.js"></script>
    <script src="/js/client.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans" rel="stylesheet">

    <title>Prototype phaser utilisant Socket</title>
</head>

<body>
    <div class="conteneurPrincJeu">
        <header>
            <img src="/medias/img/logo.png" alt="logo">
            <h1>Drapeau</h1>
            <div class="entete">
                <p class="soustitre">Nom</p>
                <p class="data equipe<%= data.equipe%>">
                    <%= data.nom%>
                </p>
                <p class="soustitre">Équipe</p>
                <p class="data equipe<%= data.equipe%>">
                    <%= data.equipe%>
                </p>
                <div class="pointageConteneur">
                    <h2>Pointage</h2>
                    <h3>Équipe 1</h3>
                    <p class="pointEquipe1">0</p>
                    <h3>Équipe 2</h3>
                    <p class="pointEquipe2">0</p>
                    <h3>Équipe 3</h3>
                    <p class="pointEquipe3">0</p>
                </div>
                <p class="retour">
                    <a href="/">Quitter</a>
                </p>
            </div>
        </header>
        <div data-equipe='<%= data.equipe%>' data-nom='<%= data.nom%>' id="jeuConteneur"></div>
        <div class="boiteMsg">
            <p class="msg gabarit"></p>
        </div>
    </div>
</body>

</html>